{{#*inline "page"}}


<section id="posts">
    <h1>Here's another page!</h1>
    <ul>
        {{#each items}}
        <li>{{{ this.title }}} &nbsp; &nbsp; {{ this.created_at }} </li>
        {{/each}}
    </ul>
</section>

{{/inline}}
{{~> (parent)~}}
